/* Loader */
.loader
{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face
{
    font-family: loaderFont;
    src: url("font/GNKana-Kon-iro_Nightfall.ttf");
}

.loader h1
{
    font-family: loaderFont;
    font-size: 60px;
    color: white;
}

.loader.hidden
{
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut
{
    100%
    {
        visibility: hidden;
    }
}

/* Content */
.error
{
    color: #ff0031;
    font-size: 150%;
}

.container
{
    max-width: 1950px;
    overflow-x: hidden;
}

@font-face
{
    font-family: ctnFont;
    src: url("font/UDDigiKyokashoN-R.ttc");
}

.homeCtn
{
    max-width: 1950px;
    padding-left: 15%;
    font-family: ctnFont;
    display: flex;
    flex-direction: column;
    padding-right: 15%;
}

/* Xe:non Welcome To A Nevereverland */
.homeIntro
{
    max-width: 1950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.slogan
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan .left,.slogan .right
{
    font-size: 400%;
}

.right
{
    color: white;
}

/* About Website */
.homeAbout
{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-left: 3%;
    margin-bottom: 10%;
}

.homeAbout .ctn 
{
    display: flex;
    flex-direction: row;
}

.homeAbout .left,.homeAbout .right
{
    font-size: 200%;
}

.homeAbout .title
{
    font-size: 150%;
    padding-right: 3%;
    padding-bottom: 5%;
}

.ctn .ctnLeft 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    text-align: right;
}

.ctn .ctnRight 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 80px;
}

/* About Me */
.homeProfile
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 10%;
}

.homeProfile .title
{
    font-size: 150%;
}

.homeProfile .left,.homeProfile .right
{
    font-size: 200%;
}

.homeProfilePic
{
    display: flex;
    justify-content: center;
}

.homeProfilePic img
{
    width: 50%;
}

.homeProfileInfo
{
    padding-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.homeProfileInfo p
{
    line-height: 3.0;
}

.infoLeft,.infoRight
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sns
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

/* Contact Form */
.homeMore
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeMore .title
{
    font-size: 150%;
}

.homeMore .left,.homeMore .right
{
    font-size: 200%;
}

.contactForm
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactForm input,select,textarea,.genderBox
{
    font-family: ctnFont;
    border-radius: 20px;
}

.contactForm input[type="text"]
{
    font-size:120%;
}

.contactTop
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contactTop input
{
    height: 40px;
    padding-inline-start: 30px;
    border-width: 0;
}

.contactLeft
{
    padding-right: 2.5%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.contactLeft ::placeholder,select
{
    color: white;
    font-family: ctnFont;
    font-size: 15px;
}

.contactLeft input,select,.genderBox
{
    color: white;
    background-color: black;
}

.contactLeft .dateOfBirth
{
    display: flex;
    justify-content: space-between;
}

#day,#month,#year
{
    width: auto;
    height: 45px;
    padding-inline-start: 10px;
    border-width: 0;
}

.genderBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 10px;
}

.genderBox label
{
    margin: auto;
}

.contactRight
{
    padding-left: 2.5%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.contactRight ::placeholder
{
    color: black;
    font-family: ctnFont;
    font-size: 15px;
}

.contactRight input
{
    border-width: 0;
}

.contactBottom
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.contactBottom .yourMsg
{
    padding-left: 1%;
}

.contactBottom label
{
    font-size: 25px;
}

#yourMsg
{
    font-size: 20px;
    font-family: ctnFont;
    width: 68%;
    height: 200px;
}

.contactButton
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#resetBtn,#submitBtn
{
    width: 10%;
    height: 50px;
    margin-block-start: 10%;
    font-family: ctnFont;
    font-size: 30px;
    border-radius: 30px;
    border-width: 0;
    margin: 5%;
}

#resetBtn
{
    background-color: black;
    color: white;
}

/* Responsive Tablet */
@media only screen and (max-width:1150px)
{
    .slogan .left,.slogan .right
    {
        font-size: 300%;
    }

    .homeAbout .title
    {
        font-size: 150%;
    }

    .homeAbout .left,.homeAbout .right
    {
        font-size: 150%;
    }

    .homeProfile .title
    {
        font-size: 125%;
    }
}

@media only screen and (max-width:1098px)
{
    .slogan .left,.slogan .right
    {
        font-size: 300%;
    }

    .homeAbout .title
    {
        font-size: 150%;
    }

    .homeAbout .left,.homeAbout .right
    {
        font-size: 150%;
    }

    .homeProfile .title
    {
        font-size: 125%;
    }
}

@media only screen and (max-width:823px)
{
    .slogan .left,.slogan .right
    {
        font-size: 250%;
    }

    .homeAbout .title
    {
        font-size: 150%;
    }

    .homeAbout .left,.homeAbout .right
    {
        font-size: 150%;
    }

    .homeProfile .title
    {
        font-size: 125%;
    }
}

@media only screen and (max-width:768px)
{
    /* Content */
    .container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .homeCtn
    {
        padding: 0;
    }

    /* Xe:non Welcome To A Nevereverland */
    .slogan .left,.slogan .right
    {
        font-size: 40px;
    }

    /* About Website */
    .homeAbout .title
    {
        font-size: 125%;
    }

    .homeAbout .left,.homeAbout .right
    {
        font-size: 150%;
    }

    /* About Me */
    .homeProfile .title
    {
        font-size: 125%;
    }

    .homeProfile .left,.homeProfile .right
    {
        font-size: 150%;
    }

    .homeProfilePic img 
    {
        width: 40%;
    }

    /* Contact Form */
    .homeMore .title
    {
        font-size: 125%;
    }

    .homeMore .left,.homeMore .right
    {
        font-size: 150%;
    }

    #resetBtn,#submitBtn
    {
        width: 30%;
    }
}

/* Responsive Mobile */
@media only screen and (max-width:580px)
{
    .slogan .left,.slogan .right
    {
        font-size: 180%;
    }

    .homeAbout .left,.homeAbout .right
    {
        font-size: 100%;
    }
}

@media only screen and (max-width:450px)
{
    .slogan .left,.slogan .right
    {
        font-size: 180%;
    }

    .homeAbout .left,.homeAbout .right
    {
        font-size: 100%;
    }
}

@media only screen and (max-width:425px)
{
    /* Loader */
    .loader h1
    {
        font-size: 40px;
    }

    .loader img
    {
        width: 70%;
    }

    .homeAbout
    {
        line-height: 1.6;
    }

    .slogan .left,.slogan .right
    {
        font-size: 200%;
    }

    .homeIntro
    {
        margin-top: 10%;
    }

    /* About Website */
    .homeAbout .left,.homeAbout .right
    {
        font-size: 110%;
    }

    .ctn .ctnLeft
    {
        line-height: 2.5;
    }

    .ctn .ctnRight
    {
        line-height: 2.5;
    }

    /* About Me */
    .homeProfile .title
    {
        font-size: 100%;
    }

    .homeProfile .left,.homeProfile .right
    {
        font-size: 125%;
    }

    .homeProfilePic img 
    {
        width: 40%;
    }

    /* Contact Form */
    .homeMore .title
    {
        font-size: 125%;
    }

    .homeMore .left,.homeMore .right
    {
        font-size: 20px;
    }

    #year,#month,#day
    {
        width: 50px;
    }

    .contactTop
    {
        width: 90%;
    }

    .contactLeft
    {
        padding-right: 3%;
        width: 60%;
        padding-left: 6%;
    }

    .contactRight
    {
        padding-left: 3%;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    #yourMsg
    {
        width: 90%;
    }

    #resetBtn,#submitBtn
    {
        width: 50%;
    }
}

@media only screen and (max-width:411px)
{
    .homeAbout .left,.homeAbout .right
    {
        font-size: 110%;
    }
}

@media only screen and (max-width:383px)
{
    .slogan .left,.slogan .right
    {
        font-size: 180%;
    }

    .homeAbout .left,.homeAbout .right
    {
        font-size: 100%;
    }
}

@media only screen and (max-width:350px)
{
    .slogan .left,.slogan .right
    {
        font-size: 150%;
    }

    .homeAbout .left,.homeAbout .right
    {
        font-size: 90%;
    }
}

